<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="text-align: center;">Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="title">Order History</h1>
  <ion-card *ngFor="let order of orders">
    <ion-card-header>
      <ion-card-title>Order #{{ order.orderId }}</ion-card-title>
      <ion-card-subtitle>Date: {{ order.orderDate|date:'shortDate' }}</ion-card-subtitle>
    
    </ion-card-header>
    <ion-card-content>
      <strong>Total Cost: </strong>${{ order.totalCost }}
      <ion-list>
        <ion-item *ngFor="let product of order.products">
          <ion-label>
            <h2>{{ product.productName }}</h2>
            <p>
              <strong>Price: </strong>${{ product.productPrice }} <br>
              <strong>Quantity: </strong>{{ product.quantity }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- <ion-button class="sign-out" expand="block" color="primary" (click)="logout()">
    Log Out
  </ion-button> -->
</ion-content>
