

ion-content {
    --background: white;
  }


  .htitle {
    font-size: 2em;
    color: black;
    text-align: center;
  }
  
  ion-card {
    background-color: #F7F7F7;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
  
  ion-card-title {
    // font-weight: bold;
    text-align: center;
  }
  
  ion-card-content {
    text-align: center;
  }
  
  ion-grid {
    padding: 5px;
  }
  
.product-count { 
  display: flex;
  align-items: center;
}

ion-icon {
  margin-right: 10px;
  color: #9146FF;
}

.card-space {
  text-align: center;
  font-weight: bold;
}

.card-space-text {
  font-size: 16px;
}

// .elongated-card {
//   height: 200px;
// }