<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit Category Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="categoryForm">
    <ion-item>
      <ion-input type="text" formControlName="categoryName"  labelPlacement="stacked" label="Enter a category name" placeholder="Edit Category Name" ></ion-input>
    <ion-text color="danger" *ngIf="categoryForm.get('categoryName')?.touched && categoryForm.get('categoryName')?.invalid">
      <ion-label>Category name is required!</ion-label>
    </ion-text>
  </ion-item>


    <ion-button class="add-cat-button" expand="full" shape="round" (click)="closeModal()" >Update Category Name</ion-button>
  </form>
</ion-content>
