ion-content {
  --background: linear-gradient(315deg, hsla(0, 0%, 100%, 1) 0%, hsla(213, 100%, 95%, 1) 100%);
}

.backicon {
  color: black;
  font-size: 30px;
}

.image-container {
  text-align: center;
  margin: 20px 0;
  
  img {
    max-width: 50%;
    height: auto;
  }
}

.product-card {
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, hsla(256, 41%, 47%, 1) 0%, hsla(346, 91%, 87%, 1) 100%);
  color: white;
}

.quantity-card {
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: radial-gradient(circle, hsla(256, 41%, 47%, 1) 0%, hsla(346, 91%, 87%, 1) 100%);
}

.bold-title {
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-button {
  --color: white;
}

.quantity-number {
  font-size: 1.2em;
  color: white;
}

// Bottom
.half-circle {
  background: linear-gradient(315deg, hsla(88, 84%, 80%, 1) 0%, hsla(152, 100%, 77%, 1) 100%);
  width: 100%;
  height: 15%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-text {
  font-weight: bold;
  color: #2584ff;
  font-weight: bold;
  font-family: Georgia, serif;  
  font-size: 40px;
  margin-left: 10px; // For icon space
  padding-right: 10px; // Offset
}

.checkout-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customcart {
  font-size: 40px;
  color: #2584ff;
}


.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

