<!-- Back Button -->
<!-- style="--background: white; --border-width: 0px; --box-shadow: none;" -->
<ion-content class="ion-padding">

  <ion-buttons>
    <ion-button (click)="productback()">
      <ion-icon class="backicon" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <!-- Product Image -->
  <div class="image-container">
    <img [src]="product?.productURL" alt="Product Image" />
  </div>

<br>
  <!-- Product Description Card -->
  <ion-card class="product-card">
    <ion-card-header>
      <div class="header-flex">
        <ion-card-title class="PName bold-title">
          {{ product?.productName }}
        </ion-card-title>
        <div class="Pprice bold-title">
          {{ product?.productPrice }}
        </div>
      </div>
    </ion-card-header>
    <ion-card-content class="Pdescription">
      <p>SKU: {{ product?.productSKU }}</p>
    </ion-card-content>
    <ion-card-content class="Pdescription">
      <p>{{ product?.productDescription }}</p>  <!-- Display description here -->
    </ion-card-content>
  </ion-card>
  
  <ion-card class="product-card">
    <ion-card-content>
      <p>{{ product?.productSPEC }}</p> 
    </ion-card-content>
  </ion-card>

  <!-- Quantity Show -->
  <ion-card class="quantity-card">
    <ion-card-content class="quantity-controls">
      <ion-button (click)="removeitem()" class="quantity-button">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>

      <div class="quantity-number">
        {{ cartService.getQuantity(product?.id || 0) }}
      </div>

      <ion-button (click)="additem()" class="quantity-button">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-card-content>

  </ion-card>


  <!-- Add to Cart -->
  <div class="buy-now-container" (click)="goToCheckout()">
    <div class="buy-now-button">
      <ion-icon name="cart" class="buy-now-icon"></ion-icon>
      <div class="buy-now-text">Buy Now</div>
    </div>
  </div>

</ion-content>
