
.toolbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .toolbar-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
  }
  
  .toolbar-title {
    width: 100%;
    text-align: center;
  }

  // Somehow removed black thin line????
  ion-toolbar[color="favorite"] {
    --border-width: 0px;
  }

////////////////////////////////////////////////////

.about-card {
    background: #F7F7F7;
    border-radius: 20px;
}

.about-text {
    color: #000000;
}

.deal-card { 
    background: #F7F7F7;
    border-radius: 20px;
}

.card-text {
    color: black;
    font-size: 16px;
}

// icons

.ionc {
    font-size: 2em;
    color: #9146FF;
  }

.ion-text-center {
    color: black;
}

