<ion-header>
  <ion-toolbar color="favorite">
    <div class="toolbar-container">
      <img src="./assets/logo3.svg" alt="Logo" class="toolbar-logo">
      <ion-title class="toolbar-title">
        Simpzy Ecommerce
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- Today's Deal Banner -->
  <ion-card class="deal-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Today's Deal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Replace with actual product details -->
      <p>Product: Amazing Gadget</p>
      <p>Price: $49.99</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="leaf" class="ionc"></ion-icon>
        <p>Simple Design</p>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="document" class="ionc"></ion-icon>
        <p>Invoice Generator</p>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="gift" class="ionc"></ion-icon>
        <p>Fast Shipping</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- About Section -->
  <ion-card class="about-card">
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content class="about-text">
      Simpzy Ecommerce is your go-to platform for a hassle-free online shopping experience. Specifically designed for simplicity, our platform is user-friendly and accessible, 
      even if you have zero knowledge of technology. With our minimalist approach, you won't get lost in an overwhelming array of products; instead, we offer a curated selection 
      of items that make decision-making easier for you. Not only do we simplify the shopping process, but we also facilitate easy check-outs by generating invoices automatically. 
      Simpzy Ecommerce is your one-stop solution for a simple, seamless, and efficient online shopping experience.
    </ion-card-content>
  </ion-card>
  
</ion-content>