<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Thank You!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="success-container">

    <ion-card class="greeting-card">
      <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>
      <ion-card-content>
        <ion-text>
          <h2>Thank you for your purchase!</h2>
          <p>Here is your invoice below.</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-button class="invoice-button" expand="block" color="primary" (click)="downloadInvoice()">
      Download Invoice
    </ion-button>

    <ion-button class="home-button" expand="block" color="medium" (click)="returnHome()">
      Return to Home
    </ion-button>
  </div>
  
</ion-content>
