<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="productback()">
        <ion-icon class="backicon" name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ product?.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="product?.imageUrl" />
    <ion-card-content>
      <ion-card-title>
        {{ product?.name }}
      </ion-card-title>
      <p>
        {{ product?.description }}
      </p>
      <p>
        Hello {{ product }}
      </p>
      <p>
        Price: {{ product?.price }}
        {{ product | json }}
      </p>
      <div class="cart-controls">
   
        Quantity: {{ cartService.getQuantity(product?.id || 0) }}
        Price: {{ cartService.getPriceQ(product?.id || 0) }}

        <!-- Cart Buttons -->
        <ion-buttons>
          <ion-button (click)="removeitem()">
            <ion-icon class="removeicon" name="remove-circle-outline"></ion-icon>
            Remove from Cart
          </ion-button>
          
          <ion-button (click)="additem()">
            <ion-icon class="addicon" name="add-circle-outline"></ion-icon>
            Add to Cart
          </ion-button>


        </ion-buttons>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
