<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="text-align: center;">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="title">Purchase History</h1>
  <ion-card *ngFor="let item of cart">
    <ion-card-header>
      <ion-card-title>{{ item.productName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <strong>Price: </strong>{{ item.productPrice }}$
        </ion-col>
        <ion-col size="6">
          <strong>Quantity: </strong>{{ item.quantity }}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-button class="sign-out" expand="block" color="primary" (click)="logout()">
    Log Out
  </ion-button>

</ion-content>
