ion-card {
    margin: 16px 0;
  }
  
  ion-card-header img {
    max-width: 100px;
    height: auto;
    float: left;
    margin-right: 16px;
  }
  
  ion-card-title, ion-card-subtitle {
    float: left;
    margin-right: 16px;
  }
  