ion-card {
    margin: 16px 0;
  }
  
  ion-card-header img {
    max-width: 100px;
    height: auto;
    float: left;
    margin-right: 16px;
  }
  
  ion-card-title, ion-card-subtitle {
    float: left;
    margin-right: 16px;
  }
  
  .title {
    text-align: center;
  }

 // Empty Cart

 .empty-cart-container {
  text-align: center;
  padding-top: 250px;
  color: #8e8e8e;
}

.empty-cart-icon {
  font-size: 64px;
  margin-bottom: 20px;
}

.empty-cart-text {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
