
<ion-tabs>
  <!--Icons-->
    <ion-tab-bar slot="bottom" class="tabbar">
      
      <ion-tab-button tab="admin" layout="icon-top">
        <ion-icon aria-hidden="true" name="key-outline"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="addcategories" layout="icon-top">
        <ion-icon aria-hidden="true" name="duplicate-outline"></ion-icon>
        <ion-label>Add Categories</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="editcategories" layout="icon-top">
        <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
        <ion-label>Edit Categories</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="user" layout="icon-top">
        <ion-icon aria-hidden="true" name="cog-outline"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  

  