
<ion-tabs>
  <!--Icons-->
    <ion-tab-bar slot="bottom" class="tabbar">
      
      <ion-tab-button tab="admin" layout="icon-top">
        <ion-icon aria-hidden="true" name="key-outline"></ion-icon>
        <ion-label>Analytics</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="orders" layout="icon-top">
        <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
        <ion-label>Orders</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="addcategories" layout="icon-top">
        <ion-icon aria-hidden="true" name="duplicate-outline"></ion-icon>
        <ion-label>Add Categories</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings" layout="icon-top">
        <ion-icon aria-hidden="true" name="cog-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  

  