<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="htitle">
      <ion-icon name="basket"></ion-icon> Categories
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addCategory()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="create"></ion-icon> -->
        <!-- <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon> -->
        <ion-button (click)="toggleDeleteButtons()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let subCategory of subCategories" class="elongated-card">
        <ion-card (click)="routetoproducts(subCategory.id)">
          <ion-card-content>
            <ion-card-title class="card-space">
              <div class="card-space">{{ subCategory.subCategoryName }}</div>
              <br>
              <div class="product-count">
                <ion-icon name="pricetag"></ion-icon>
                <div class="card-space-text">{{ subCategory.productCount }} Items</div>
              </div>
            </ion-card-title>
            <ion-button class="delete-button" color="danger" *ngIf="showDeleteButtons" (click)="deleteSubCategory($event, subCategory)">Delete</ion-button>
            <!-- <ion-button class="delete-button" color="danger" *ngIf="showDeleteButtons" (click)="deleteSubCategory(subCategory.id)">Delete</ion-button> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
