



<ion-tabs>
<!--Icons-->
  <ion-tab-bar slot="bottom" class="tabbar">
    
    <ion-tab-button tab="home" layout="icon-top">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products" layout="icon-top">
      <ion-icon aria-hidden="true" name="pricetags"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="checkout" layout="icon-top">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
<!-- Changed to Login -->
    <!-- <ion-tab-button tab="login" layout="icon-top">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button> -->
    <ion-tab-button [tab]="isAuthenticated ? 'user' : 'login'">
      <ion-icon [name]="isAuthenticated ? 'person-circle' : 'log-in-outline'"></ion-icon>
      <ion-label>{{isAuthenticated ? 'User' : 'Login'}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
